<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wjh.dao.UserDao">
    <select id="getUserList" resultType="cn.wjh.pojo.User">
    select * from user
  </select>

    <select id="getUesrByName" parameterType="String" resultType="cn.wjh.pojo.User">
    select * from user where  name like "%"#{name}"%"
  </select>

    <insert id="InsertUser" parameterType="cn.wjh.pojo.User">
    insert into user(id,name,pwd)  values(#{id},#{name},#{pwd})
  </insert>

    <delete id="DeletUser" parameterType="int">
    delete from user where id=#{id}
  </delete>

    <update id="UpdateUser" parameterType="cn.wjh.pojo.User">
        UPDATE user set name=#{name},pwd=#{pwd} where id=#{id}
    </update>
</mapper>